In [2]:
#importing libraries
import pandas as pd
import sqlite3
import numpy as np

In [4]:
import pandas as pd

df_buses_1 = pd.read_csv("df_A_buses.csv")
df_buses_2 = pd.read_csv("df_Bi_buses.csv")
df_buses_3 = pd.read_csv("df_Ch_buses.csv")
df_buses_4 = pd.read_csv("df_G_buses.csv")
df_buses_5 = pd.read_csv("df_P_buses.csv")
df_buses_6 = pd.read_csv("df_R_buses.csv")
df_buses_7 = pd.read_csv("df_S_buses.csv")
df_buses_8 = pd.read_csv("df_TS_buses.csv")
df_buses_9 = pd.read_csv("df_UP_buses.csv")
df_buses_10 = pd.read_csv("df_WB_buses.csv")

Final_df = pd.concat([df_buses_1, df_buses_2, df_buses_3, df_buses_4,df_buses_5, df_buses_6,
                      df_buses_7, df_buses_8, df_buses_9, df_buses_10], ignore_index=True)


print(Final_df)

                         Bus_name                                Bus_type  \
0                   APSRTC - 2538  SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)
1                  APSRTC - 23551  SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)
2                   APSRTC - 2536                      INDRA(A.C. Seater)
3                  APSRTC - 23537  SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)
4                   APSRTC - 2651  SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)
...                           ...                                     ...
2242  Snemita Paribahan (Ruposhi)                         AC Seater (2+3)
2243            Snemita Parisheba                         AC Seater (2+3)
2244                Suvam Travels                     Non AC Seater (2+3)
2245   Anadi Travels (Disha Gold)              A/C Seater Push Back (2+3)
2246     Ankita Paribahan(Atithi)              A/C Seater Push Back (2+3)

     Start_time End_time Total_duration    Price     Seats_Available  Ratings  \
0         00:15    04:15        04h 00m  INR 281   7 Seats available   5.0\n1
1         00:45    04:45        04h 00m  INR 281   8 Seats available   2.9\n9
2         01:15    04:30        03h 15m  INR 340    1 Seat available  3.8\n21
3         01:30    06:00        04h 30m  INR 281   5 Seats available   4.0\n6
4         04:00    07:00        03h 00m  INR 281  17 Seats available  3.5\n75
...         ...      ...            ...      ...                 ...      ...
2242      15:55    20:50        04h 55m  INR 370  30 Seats available   1.0\n1
2243      19:05    23:45        04h 40m  INR 370  20 Seats available   1.0\n2
2244      16:30    21:00        04h 30m  INR 200  59 Seats available   1.0\n2
2245      23:00    04:40        05h 40m  INR 500  60 Seats available      1.0
2246      22:40    05:20        06h 40m  INR 420  20 Seats available   1.0\n1

                                             Route_link  \
0     https://www.redbus.in/bus-tickets/kakinada-to-...
1     https://www.redbus.in/bus-tickets/kakinada-to-...
2     https://www.redbus.in/bus-tickets/kakinada-to-...
3     https://www.redbus.in/bus-tickets/kakinada-to-...
4     https://www.redbus.in/bus-tickets/kakinada-to-...
...                                                 ...
2242  https://www.redbus.in/bus-tickets/kolkata-to-d...
2243  https://www.redbus.in/bus-tickets/kolkata-to-d...
2244  https://www.redbus.in/bus-tickets/kolkata-to-d...
2245  https://www.redbus.in/bus-tickets/kolkata-to-d...
2246  https://www.redbus.in/bus-tickets/kolkata-to-d...

                     Route_name
0     Kakinada to Visakhapatnam
1     Kakinada to Visakhapatnam
2     Kakinada to Visakhapatnam
3     Kakinada to Visakhapatnam
4     Kakinada to Visakhapatnam
...                         ...
2242           Kolkata to Digha
2243           Kolkata to Digha
2244           Kolkata to Digha
2245           Kolkata to Digha
2246           Kolkata to Digha

[2247 rows x 10 columns]

In [5]:
Final_df

,Bus_name,Bus_type,Start_time,End_time,Total_duration,Price,Seats_Available,Ratings,Route_link,Route_name
0,APSRTC - 2538,"SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)",00:15,04:15,04h 00m,INR 281,7 Seats available,5.0\n1,https://www.redbus.in/bus-tickets/kakinada-to-...,Kakinada to Visakhapatnam
1,APSRTC - 23551,"SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)",00:45,04:45,04h 00m,INR 281,8 Seats available,2.9\n9,https://www.redbus.in/bus-tickets/kakinada-to-...,Kakinada to Visakhapatnam
2,APSRTC - 2536,INDRA(A.C. Seater),01:15,04:30,03h 15m,INR 340,1 Seat available,3.8\n21,https://www.redbus.in/bus-tickets/kakinada-to-...,Kakinada to Visakhapatnam
3,APSRTC - 23537,"SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)",01:30,06:00,04h 30m,INR 281,5 Seats available,4.0\n6,https://www.redbus.in/bus-tickets/kakinada-to-...,Kakinada to Visakhapatnam
4,APSRTC - 2651,"SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)",04:00,07:00,03h 00m,INR 281,17 Seats available,3.5\n75,https://www.redbus.in/bus-tickets/kakinada-to-...,Kakinada to Visakhapatnam
...,...,...,...,...,...,...,...,...,...,...
2242,Snemita Paribahan (Ruposhi),AC Seater (2+3),15:55,20:50,04h 55m,INR 370,30 Seats available,1.0\n1,https://www.redbus.in/bus-tickets/kolkata-to-d...,Kolkata to Digha
2243,Snemita Parisheba,AC Seater (2+3),19:05,23:45,04h 40m,INR 370,20 Seats available,1.0\n2,https://www.redbus.in/bus-tickets/kolkata-to-d...,Kolkata to Digha
2244,Suvam Travels,Non AC Seater (2+3),16:30,21:00,04h 30m,INR 200,59 Seats available,1.0\n2,https://www.redbus.in/bus-tickets/kolkata-to-d...,Kolkata to Digha
2245,Anadi Travels (Disha Gold),A/C Seater Push Back (2+3),23:00,04:40,05h 40m,INR 500,60 Seats available,1.0,https://www.redbus.in/bus-tickets/kolkata-to-d...,Kolkata to Digha
2246,Ankita Paribahan(Atithi),A/C Seater Push Back (2+3),22:40,05:20,06h 40m,INR 420,20 Seats available,1.0\n1,https://www.redbus.in/bus-tickets/kolkata-to-d...,Kolkata to Digha

In [8]:
Final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2247 entries, 0 to 2246
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Bus_name         2247 non-null   object
 1   Bus_type         2247 non-null   object
 2   Start_time       2247 non-null   object
 3   End_time         2247 non-null   object
 4   Total_duration   2247 non-null   object
 5   Price            2247 non-null   object
 6   Seats_Available  2247 non-null   object
 7   Ratings          2247 non-null   object
 8   Route_link       2247 non-null   object
 9   Route_name       2247 non-null   object
dtypes: object(10)
memory usage: 175.7+ KB

In [10]:
Final_df["Price"]=Final_df["Price"].str.replace("INR","")
Final_df["Price"]=Final_df["Price"].astype(float)
Final_df["Price"].fillna(0)

0       281.0
1       281.0
2       340.0
3       281.0
4       281.0
        ...
2242    370.0
2243    370.0
2244    200.0
2245    500.0
2246    420.0
Name: Price, Length: 2247, dtype: float64

In [12]:
Final_df["Ratings"]

0        5.0\n1
1        2.9\n9
2       3.8\n21
3        4.0\n6
4       3.5\n75
         ...
2242     1.0\n1
2243     1.0\n2
2244     1.0\n2
2245        1.0
2246     1.0\n1
Name: Ratings, Length: 2247, dtype: object

In [14]:
# info after the data type change
Final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2247 entries, 0 to 2246
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Bus_name         2247 non-null   object
 1   Bus_type         2247 non-null   object
 2   Start_time       2247 non-null   object
 3   End_time         2247 non-null   object
 4   Total_duration   2247 non-null   object
 5   Price            2247 non-null   float64
 6   Seats_Available  2247 non-null   object
 7   Ratings          2247 non-null   object
 8   Route_link       2247 non-null   object
 9   Route_name       2247 non-null   object
dtypes: float64(1), object(9)
memory usage: 175.7+ KB

In [16]:
Final_df = Final_df[Final_df["Price"] <= 7000]

In [18]:
# replacing the nan value
Final_df = Final_df.replace({np.nan: None})

In [20]:
# change dataframe to csv
path=r"C:/Users/imand/OneDrive/Desktop/CAPSTONE_PROJECT/redbus/Final_busdetails_df.csv"
Final_df.to_csv(path,index=False)

# Creating a SQLITE3 database

In [23]:
import sqlite3

conn = sqlite3.connect("red_bus_details.db")
my_cursor = conn.cursor()

In [25]:
# Table Creation
my_cursor.execute('''CREATE TABLE IF NOT EXISTS bus_details(
                  ID INT AUTO_INCREMENT PRIMARY KEY,
                  Bus_name VARCHAR(255) NOT NULL,
                  Bus_type VARCHAR(255) NOT NULL,
                  Start_time VARCHAR(255) NOT NULL,
                  End_time VARCHAR(255) NOT NULL,
                  Total_duration VARCHAR(255) NOT NULL,
                  Price FLOAT NULL,
                  Seats_Available VARCHAR(255) NOT NULL,
                  Ratings Float NULL,
                  Route_link VARCHAR(255) NULL,
                  Route_name VARCHAR(255) NULL
                  )''')
print("Table Created successfully")

Table Created successfully

In [27]:
import sqlite3

conn = sqlite3.connect("red_bus_details.db")
my_cursor = conn.cursor()

# Create the table if it doesn't exist
create_query = '''CREATE TABLE IF NOT EXISTS bus_details (
    Bus_name TEXT,
    Bus_type TEXT,
    Start_time TEXT,
    End_time TEXT,
    Total_duration TEXT,
    Price REAL,
    Seats_Available INTEGER,
    Ratings REAL,
    Route_link TEXT,
    Route_name TEXT
)'''
my_cursor.execute(create_query)

# Insert data
insert_query = '''INSERT INTO bus_details (
    Bus_name,
    Bus_type,
    Start_time,
    End_time,
    Total_duration,
    Price,
    Seats_Available,
    Ratings,
    Route_link,
    Route_name
) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)'''
data = Final_df.values.tolist()

try:
    my_cursor.executemany(insert_query, data)
    conn.commit()
    print("Values inserted successfully")
except Exception as e:
    print("Error inserting values:", e)

conn.close()

Values inserted successfully

In [29]:
Final_df

,Bus_name,Bus_type,Start_time,End_time,Total_duration,Price,Seats_Available,Ratings,Route_link,Route_name
0,APSRTC - 2538,"SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)",00:15,04:15,04h 00m,281.0,7 Seats available,5.0\n1,https://www.redbus.in/bus-tickets/kakinada-to-...,Kakinada to Visakhapatnam
1,APSRTC - 23551,"SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)",00:45,04:45,04h 00m,281.0,8 Seats available,2.9\n9,https://www.redbus.in/bus-tickets/kakinada-to-...,Kakinada to Visakhapatnam
2,APSRTC - 2536,INDRA(A.C. Seater),01:15,04:30,03h 15m,340.0,1 Seat available,3.8\n21,https://www.redbus.in/bus-tickets/kakinada-to-...,Kakinada to Visakhapatnam
3,APSRTC - 23537,"SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)",01:30,06:00,04h 30m,281.0,5 Seats available,4.0\n6,https://www.redbus.in/bus-tickets/kakinada-to-...,Kakinada to Visakhapatnam
4,APSRTC - 2651,"SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)",04:00,07:00,03h 00m,281.0,17 Seats available,3.5\n75,https://www.redbus.in/bus-tickets/kakinada-to-...,Kakinada to Visakhapatnam
...,...,...,...,...,...,...,...,...,...,...
2242,Snemita Paribahan (Ruposhi),AC Seater (2+3),15:55,20:50,04h 55m,370.0,30 Seats available,1.0\n1,https://www.redbus.in/bus-tickets/kolkata-to-d...,Kolkata to Digha
2243,Snemita Parisheba,AC Seater (2+3),19:05,23:45,04h 40m,370.0,20 Seats available,1.0\n2,https://www.redbus.in/bus-tickets/kolkata-to-d...,Kolkata to Digha
2244,Suvam Travels,Non AC Seater (2+3),16:30,21:00,04h 30m,200.0,59 Seats available,1.0\n2,https://www.redbus.in/bus-tickets/kolkata-to-d...,Kolkata to Digha
2245,Anadi Travels (Disha Gold),A/C Seater Push Back (2+3),23:00,04:40,05h 40m,500.0,60 Seats available,1.0,https://www.redbus.in/bus-tickets/kolkata-to-d...,Kolkata to Digha
2246,Ankita Paribahan(Atithi),A/C Seater Push Back (2+3),22:40,05:20,06h 40m,420.0,20 Seats available,1.0\n1,https://www.redbus.in/bus-tickets/kolkata-to-d...,Kolkata to Digha